@using System.Security.Claims
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FamilyPhotoSharing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FamilyPhotoSharing</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item hide-mobile" style="width:100%;display:inline-flex;text-align:right">
                            @Html.Partial("Partials/_UserLoginMiniPagePartial")
                        </li>
                        <li class="nav-item show-mobile" style="display:none;">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-item text-start" style="margin:0;padding:0;" href="/User/Profile?userId=@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">Uživatel: @User.FindFirst(ClaimTypes.NameIdentifier)?.Value</a>
                                <a class="dropdown-item text-end" href="/Account/Logout">Odhlásit se</a>
                            }
                            else
                            {
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                            }
                        </li>
                    </ul>
                </div>
            </div>    
        </nav>
    </header>
    <style>
            .sidebar {
                margin-top: 20px;
                margin-left: 20px; 
                margin-bottom: 20px; 
                padding: 15px; 
                border-radius: 8px;
                border: 1px solid #ddd;
            }
    </style>
    <div class="layout" style="">
        <aside id="sideMenuOpen" class="sidebar bg-light" style="width:200px;">
            @await Component.InvokeAsync("Menu")
        </aside>
        <main role="main" class="content">
            <div class="text-left p-4 border rounded bg-light" style="height: 100%;">
                
                @RenderBody()
                
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2026 - FamilyPhotoSharing -
            <a asp-area="" asp-controller="Home" asp-action="Licence">Licenční podmínky</a>
        </div>
    </footer>
    @await Html.PartialAsync("Toasts/_ToastUniversal")
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
