@using ModelLayer.Data
@model UserBackupKeyModel

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@{
    ViewBag.Title = "Login se záchranným klíčem";
}

@await Html.PartialAsync("Partials/_InfoMessagePartial")

<div style="display:flex; justify-content:center; align-items:center;">
    <form asp-action="ForgotPassword" method="post" style="display:block; width:50%">
        <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />

        <h2>Změna hesla</h2>

        <div class="mb-3">
            <label asp-for="Login" class="form-label">Uživatelské jméno</label>
            <input asp-for="Login" class="form-control" />
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="BackupKey" class="form-label">Záchranný klíč </label>
            <input asp-for="BackupKey" class="form-control" />
            <span asp-validation-for="BackupKey" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="NewPassword" class="form-label">Nové heslo</label>
            <input asp-for="NewPassword" class="form-control" type="password" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Přihlásit</button>
    </form>
</div>
